.contact-section {
    padding: 50px 0;
    background-color: #101099;
    text-align: center;
    color: #f7efef;
  }
  
  .contact-heading {
    margin-bottom: 30px;
  }
  
  .contact-content {
    display: inline-block;
    justify-content: center;
    flex-wrap: wrap;
    
    gap: 1%;
  }
  .contact-content .contact-item{
    margin-top: 10%;
  
  
  }
  .contact-item {
    text-align: center;
    cursor: pointer;
}

.contact-item a {
  text-decoration: none; 
  color: inherit; 
}

  .contact-icon {
    font-size: 1.5rem;

  }
  .contact-icon:hover{
    color: #007bff;

}
  
  .social-icon {
    font-size: 2.2rem;
    margin: 10px;
    color: #fffafa;
    transition: color 0.3s;
  }
  
  .social-icon:hover {
    color: #007bff;
  }
  
  @media (max-width: 767px) {
    .contact-content {
      flex-direction: column;
    }
  }
  